* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}
body,
html {
  display: block;
  height: 100%;
}

.background {
  height: 100%;
  background: url(/src/assests/img/background.jpg) no-repeat bottom;
  background-size: cover;
  transition: height 2s ease-out;
}
.backgroundZoom {
  height: 300%;
  transition: 2s ease-in;
}

.hiddenList {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-40px);
}
.showList {
  transition: 0.3s ease-in;
  visibility: visible;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.showFlex {
  display: flex;
}

.hiddenP {
  opacity: 0;
  visibility: hidden;
}
.showP {
  visibility: visible;
  transition: 0.3s ease-in;
}
.underlineCharacterNav {
  text-decoration: underline solid red 1px;
}

//******************************************* nav **************************************************
nav {
  display: flex;
  .nav_btn-play {
    margin: 2em 2em 0 0;
    height: fit-content;
  }
  .logo {
    height: fit-content;
    cursor: pointer;
  }
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 2em;

  .nav_list-li {
    width: 20%;
    margin: 0 10px;
    list-style: none;
    font-size: 1.6em;
    font-family: 'Fondamento', cursive;
    min-width: 130px;

    input {
      background-color: #c5c5c5;
      box-shadow: inset 0 0 10px #000000;
      min-width: 100%;
      font-size: inherit;
      font-family: inherit;
    }
    input:active {
      background-color: rgb(107, 8, 8);
    }
  }
}

.nav_btn-list {
  position: relative;
  z-index: 1;
  text-align: center;
  list-style: none;
  font-size: 1.4em;
  background-color: #00000080;
  color: white;

  cursor: pointer;

  li {
    -webkit-text-stroke: 1px black;
  }
}

//************************************ Landing *********************************
.landing {
  position: absolute;
  bottom: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;

  .landing_character-name {
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 2em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    min-width: 200px;
    width: 80%;
    max-width: 300px;
    transform: scaleX(-1);
  }

  //************************************ Sorcress ****************************

  .Sorcress_anime:hover {
    cursor: pointer;
    transition: 0.5s ease-in;
    transform: translateY(-10%);
  }
  //************************************** Ranger ******************************

  .Ranger_anime:hover {
    cursor: pointer;
    transform: translateY(-10%);
    transition: 0.5s ease;
  }
  //************************************** Warrior *****************************
  .Warrior_anime {
    p {
      text-align: right;
    }

    img {
      min-width: 300px;
      width: 130%;
      max-width: 370px;
    }
  }

  .Warrior_anime:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: translateY(-10%);
  }
  //**************************************** Cleric ************************

  .Cleric_anime:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: translateY(-10%);
  }
}

//*********************************** character ***********************
.characterInfo {
  margin: 0 10% 0 10%;
  background-color: #00000080;

  .characterInfo_img {
    width: 80%;
    max-width: 400px;

    // transform: translate(-10%, 0%) scaleX(-1);
  }
  .characterInfo_nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    font-size: 3.5em;
    font-weight: 900;
    font-family: 'Fondamento', cursive;
    li:hover {
      cursor: pointer;
      transform: scale(1.2);
      -webkit-text-stroke: 0.2px red;
    }
  }
  hr {
    border: 2px solid black;
    border-radius: 5px;
  }
}
.characterInfo_main {
  display: flex;
  //margin-left: 40%;
  font-size: 1.7em;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

  .characterInfo_main-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    .characterInfo_description {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
    }
    .characterInfo_main-info {
      display: flex;
    }
  }
}
.characterInfo_main-left {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
  }
}
.characterInfo_main-right {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  li {
    list-style: none;
  }
}
